.home {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100%;

  .banner-register-container {
    width: 50%;
    height: 100%;
    background-image: url(../../assets/banner-login4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-inline: 5rem;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 3rem;
      color: white;
    }

    p {
      color: rgb(237, 237, 237);
      font-size: 1.4rem;
    }
  }

  .form-register-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 10%;
    justify-content: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: bold;
      color: rgb(82, 82, 82);
    }
  }
}
