.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 400px;

  input {
    width: 100%;
    width: 400px;
    border: none;
    border-bottom: 1px solid rgb(152, 152, 152);
    padding-block: 1rem;
    outline: none;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    transition: border-bottom 0.2s;

    &:focus {
      border-bottom: 1px solid black;
    }

    &:hover {
      border-bottom: 1px solid black;
    }
  }

  .nav-login {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: rgb(109, 109, 109);
      font-weight: bold;
      transition: color 0.2s;

      &:hover {
        color: rgb(40, 40, 40);
      }

      &:focus {
        color: rgb(40, 40, 40);
        outline: none;
      }
    }
  }

  input[type="submit"] {
    margin-top: 2rem;
    border: none;
    padding-block: 1rem;
    background-color: rgb(55, 55, 106);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgb(11, 11, 42);
    }

    &:focus {
      background-color: rgb(11, 11, 42);
    }
  }
}
