.recovery-password {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100%;

  .banner-recovery-container {
    width: 50%;
    height: 100%;
    background-image: url(../../assets/banner-login4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-inline: 5rem;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 3rem;
      color: white;
    }

    p {
      color: rgb(237, 237, 237);
      font-size: 1.4rem;
    }
  }

  .form-recovery-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 10%;
    justify-content: center;
    position: relative;

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: bold;
      color: rgb(82, 82, 82);
    }

    .alert-message {
      padding: 2.5rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-top: 5px solid rgb(15, 15, 78);
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      position: absolute;
      bottom: 2rem;
      right: -500px;
      max-width: 350px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

      h2 {
        font-size: 1.6rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
      }
    }

    .card-on-animation {
      animation: cardOn 0.5s ease-in-out;
      right: 2rem;
    }

    @keyframes cardOn {
      from {
        right: -500px;
      }

      to {
        right: 2rem;
      }
    }
  }
}
